[Unit]
Description=Clean old NapCat temporary cache files
ConditionPathIsDirectory=/var/lib/napcat/.config/QQ/NapCat/temp

[Service]
Type=oneshot
User=root
Nice=19
ExecStart=/usr/bin/find /var/lib/napcat/.config/QQ/NapCat/temp -type f -mtime +14 -delete
ExecStart=/usr/bin/find /var/lib/napcat/.config/QQ/NapCat/temp -depth -type d -empty -mtime +14 -delete
